<script type="text/x-thebe-config">
{
  "useBinder": false,
  "useJupyterLite": true,
  "selector": "pre[data-executable]",
  "liteBuildDir": "thebe",
  "mountActivateWidget": true,
  "mountStatusWidget": true,
  codeMirrorConfig: {
    theme: "abcdef"
}
}
</script>




<link rel="stylesheet" href="thebe/thebe.css">
<script src="thebe/thebe-core.min.js"></script>
<script src="thebe/thebe-lite.min.js"></script>
<script src="thebe/index.js"></script>

<style>
/* Activate button */



/* Code cells */
.thebe-input .CodeMirror {
  height:auto !important; 
}

 .CodeMirror-gutters,
.CodeMirror-linenumber { display:none }


/* Cursor */

/* Output */
.thebe-output .jp-OutputArea-output {
  font-family:var(--mono-font); font-size:1.05rem; 
}
.thebe-output pre,
.thebe-output div { font-size:inherit; line-height:inherit; color:#e2e8f0; }

/* Run button */

/* Thebe widgets - position in menu bar */
.thebe-activate, .thebe-status {
  position: fixed;
  top: 1.6rem;
  z-index: 1000;
  padding: 0;
  display: inline-flex;
  align-items: center;
  border: none !important;
  background: transparent !important;
  font-size: 1.6rem;
  opacity: 0.9;
}

.thebe-activate {
  left: 450px;
}

.thebe-status {
  left: 580px;
}

/* Hide button styling, show only text */
.thebe-activate button, .thebe-status button {
  background: none !important;
  border: none !important;
  color: inherit !important;
  cursor: pointer;
  font-size: 1.6rem;
  height: auto;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 1.6rem;
}

.thebe-activate button {
  font-size: 0;
}

.thebe-activate-button::before {
  content: "\f135"; /* rocket icon */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
   background: none !important;
  border: none !important;
  color: inherit !important;
  cursor: pointer;
  font-size: 1.6rem;
}


.thebe-runall-button, .thebe-restartall-button { display:none }



/* Hide Thebe run all and restart buttons */
button[data-commandlinker-command*="run all"],
button[data-commandlinker-command*="restart"],
.thebe-run-all,
.thebe-restart {
  display: none !important;
}

</style>

<div><div class="thebe-activate"><i class="fa-solid fa-rocket"></i></div>
<div class="thebe-status"></div></div>

