<script type="text/x-thebe-config">
{
  "useBinder": false,
  "useJupyterLite": true,
  "selector": "pre[data-executable]",
  "liteBuildDir": "thebe",
  "mountActivateWidget": true,
  "mountStatusWidget": true,
  codeMirrorConfig: {
    theme: "abcdef"
}
}
</script>




<link rel="stylesheet" href="thebe/thebe.css">
<script src="thebe/thebe-core.min.js"></script>
<script src="thebe/thebe-lite.min.js"></script>
<script src="thebe/index.js"></script>

<style>
/* Activate button */
.thebe-activate {
  position: fixed;
  top: 1.6rem;
  z-index: 1000;
  display: inline-flex;
}

.thebe-activate {
  left: 70vh;
}



/* Hide button styling, show only text */
.thebe-activate button, .thebe-status button {
  background: none !important;
  border: none !important;
  height: auto;
  cursor: pointer;
  FI
}

.thebe-activate button {
  font-size: 0;
}

.thebe-activate button:hover {
  color: var(--icons-hover);
}

.thebe-activate-button::before {
  content: "\f135"; /* rocket icon */
  font-family: "Font Awesome 6 Free";
  font-size: 1.6rem;
  color: var(--icons);
  transition: color 0.3s ease;
}



.thebe-activate-button::before button:hover {
    color: var(--icons-hover);
}




.thebe-activate button:hover .thebe-activate-button::before {
  color: var(--icons-hover);
}

/* Code cells */
.thebe-input .CodeMirror {
  height: auto !important;
}



.CodeMirror-gutters,
.CodeMirror-linenumber { 
  display: none;
}

/* Output */


.thebe-output pre,
.thebe-output div { 
  color: #e2e8f0;
}



/* Thebe runall and restart buttons */
.thebe-runall-button, .thebe-restartall-button { 
  display: none;
}



</style>

<div><div class="thebe-activate icon-button"></i></div>

