<script type="text/x-thebe-config">
{
  "useBinder": false,
  "useJupyterLite": true,
  "selector": "pre[data-executable]",
  "liteBuildDir": "thebe",
  "mountActivateWidget": true,
  "mountStatusWidget": true,
  codeMirrorConfig: {
    theme: "abcdef"
}
}
</script>




<link rel="stylesheet" href="thebe/thebe.css">
<script src="thebe/thebe-core.min.js"></script>
<script src="thebe/thebe-lite.min.js"></script>
<script src="thebe/index.js"></script>

<style>
/* Activate button - match menu bar styling */
.thebe-activate, .thebe-status {
  position: fixed;
  top: 15px;
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  line-height: var(--menu-bar-height);
}

.thebe-activate {
  left: 70vh;
}

.thebe-activate button
 {
  background: none;
  border: none;
  color: var(--icons);
  font-size: 0;
  height: auto;
}

.thebe-activate button:hover {
  color: var(--icons-hover);
}

.thebe-activate-button::before {
  content: "\f135"; /* rocket icon */
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
}

/* Code cells */
.thebe-input .CodeMirror {
  height: auto !important;
}

.CodeMirror-gutters,
.CodeMirror-linenumber { 
  display: none;
}

/* Output */
.thebe-output pre,
.thebe-output div { 
  color: #e2e8f0;
}


/* Hide Thebe runall and restart buttons */
.thebe-runall-button, .thebe-restartall-button { 
  display: none;
}
</style>



</style>

<div><div class="thebe-activate icon-button"></i></div>

